In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql import Row

In [3]:
spark = SparkSession.builder.master("local").appName("JoinsExample").getOrCreate()

25/09/16 10:20:29 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [4]:
data1 = [Row(id=1, value="A"), Row(id=2, value="B"), Row(id=3, value="C")]
data2 = [Row(id=1, value="X"), Row(id=2, value="Y"), Row(id=4, value="Z")]

In [6]:
df1 = spark.createDataFrame(data1)
df1.show()

+---+-----+
| id|value|
+---+-----+
|  1|    A|
|  2|    B|
|  3|    C|
+---+-----+

In [7]:
df2 = spark.createDataFrame(data2)
df2.show()

+---+-----+
| id|value|
+---+-----+
|  1|    X|
|  2|    Y|
|  4|    Z|
+---+-----+

In [8]:
inner_join_df = df1.join(df2,df1.id == df2.id, "inner")
inner_join_df.show()

[Stage 7:============================================>            (17 + 5) / 22]

+---+-----+---+-----+
| id|value| id|value|
+---+-----+---+-----+
|  1|    A|  1|    X|
|  2|    B|  2|    Y|
+---+-----+---+-----+

In [9]:
full_outer_join_df = df1.join(df2,df1.id == df2.id, "outer")
full_outer_join_df.show()

+----+-----+----+-----+
|  id|value|  id|value|
+----+-----+----+-----+
|   1|    A|   1|    X|
|   2|    B|   2|    Y|
|   3|    C|NULL| NULL|
|NULL| NULL|   4|    Z|
+----+-----+----+-----+

In [10]:
left_outer_join_df = df1.join(df2,df1.id == df2.id, "left_outer")
left_outer_join_df.show()

+---+-----+----+-----+
| id|value|  id|value|
+---+-----+----+-----+
|  1|    A|   1|    X|
|  2|    B|   2|    Y|
|  3|    C|NULL| NULL|
+---+-----+----+-----+

In [11]:
right_outer_join_df = df1.join(df2,df1.id == df2.id, "right_outer")
right_outer_join_df.show()

+----+-----+---+-----+
|  id|value| id|value|
+----+-----+---+-----+
|   1|    A|  1|    X|
|   2|    B|  2|    Y|
|NULL| NULL|  4|    Z|
+----+-----+---+-----+

In [ ]:
left_anti_outer_join_df = df1.join(df2,df1.id == df2.id, "left_outer")
left_anti_outer_join_df.show()