In [1]:
import pyspark.sql
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()

25/09/16 07:29:35 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
df = spark.read.options(header='True',inferSchema='True').csv("/home/iceberg/notebooks/Data/OfficeData.csv")
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [3]:
df.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- bonus: integer (nullable = true)

In [5]:
from pyspark.sql.functions import col

In [6]:
df.withColumn("Total Salary",col("salary") + 100).show()

+-------------+----------+-----+------+---+-----+------------+
|employee_name|department|state|salary|age|bonus|Total Salary|
+-------------+----------+-----+------+---+-----+------------+
|        James|     Sales|   NY| 90000| 34|10000|       90100|
|      Michael|     Sales|   NY| 86000| 56|20000|       86100|
|       Robert|     Sales|   CA| 81000| 30|23000|       81100|
|        Maria|   Finance|   CA| 90000| 24|23000|       90100|
|        Raman|   Finance|   CA| 99000| 40|24000|       99100|
|        Scott|   Finance|   NY| 83000| 36|19000|       83100|
|          Jen|   Finance|   NY| 79000| 53|15000|       79100|
|         Jeff| Marketing|   CA| 80000| 25|18000|       80100|
|        Kumar| Marketing|   NY| 91000| 50|21000|       91100|
+-------------+----------+-----+------+---+-----+------------+

In [7]:
#User Defined Function

In [15]:
from pyspark.sql.functions import col,lit,udf
from pyspark.sql.types import IntegerType

In [10]:
#create the normal python function to implement the logic

In [11]:
def total_salary(salary):
    return salary+100

In [13]:
#test the function
print(total_salary(9000))

9100

In [14]:
#create your user defined function

In [17]:
totalSalaryUDF = udf(lambda x: total_salay(x), IntegerType())

In [18]:
#Pass you column as arguement

In [ ]:
df.withColumn("total salary", totalSalaryUD)