In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .appName("FileTypesExample") \
    .getOrCreate()

25/09/17 05:57:07 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
dfjson = spark.read.json("/home/iceberg/notebooks/data/jsondemo/part*.json")

In [4]:
dfjson.show()

+---+------+--------------------+------+-----+----------------+------+
|age|course|               email|gender|marks|            name|  roll|
+---+------+--------------------+------+-----+----------------+------+
| 28|    DB|Annika Hoffman_Na...|Female|   59| Hubert Oliveras|  2984|
| 29| Cloud|Margene Moores_Ma...|Female|   62|Toshiko Hillyard| 12899|
| 28|    PF|Jeannetta Golden_...|  Male|   45|  Celeste Lollis| 21267|
| 29|    DB|Billi Clore_Mitzi...|Female|   29|    Elenore Choy| 32877|
| 28|   DSA|Claude Panos_Judi...|  Male|   41|  Sheryll Towler| 41487|
| 28|   MVC|Toshiko Hillyard_...|  Male|   32|  Margene Moores| 52771|
| 28|   OOP|Alberta Freund_El...|  Male|   69|     Neda Briski| 61973|
| 28| Cloud|Sheryll Towler_Al...|Female|   85|    Claude Panos| 72409|
| 28|   MVC|Nicole Harwood_Cl...|  Male|   64|  Celeste Lollis| 81492|
| 29|   OOP|Judie Chipps_Clem...|  Male|   51|  Cordie Harnois| 92882|
| 29|   DSA|Dustin Feagins_Ma...|Female|   35|       Kena Wild|102285|
| 29|    DB|Maybell Duguay_Ab...|  Male|   53| Ernest Rossbach|111449|
| 28|    DB|Latia Vanhoose_Mi...|Female|   27|  Latia Vanhoose|122502|
| 29|   MVC|Eda Neathery_Nico...|Female|   55|  Latia Vanhoose|132110|
| 29|    PF|Margene Moores_Mi...|  Male|   42|     Neda Briski|141770|
| 29|    DB|Claude Panos_Sant...|Female|   27|  Latia Vanhoose|152159|
| 29|   MVC|Mitzi Seldon_Jenn...|  Male|   36|  Loris Crossett|161771|
| 29|   OOP|Taryn Brownlee_Mi...|  Male|   22|  Annika Hoffman|171660|
| 29|    PF|Judie Chipps_Tary...|  Male|   56|   Santa Kerfien|182129|
| 28|    DB|Ernest Rossbach_M...|Female|   62|Mickey Cortright|192537|
+---+------+--------------------+------+-----+----------------+------+
only showing top 20 rows

In [5]:
dfjson.printSchema()

root
 |-- age: long (nullable = true)
 |-- course: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- marks: long (nullable = true)
 |-- name: string (nullable = true)
 |-- roll: long (nullable = true)

In [7]:
nestedjson = spark.read.json("/home/iceberg/notebooks/data/jsondemo/sales_nested.json",multiLine=True)
nestedjson.show()

+-----------------+------+----------+----------+--------+---+--------------------+
|          address|amount|      date|department|employee| id|            projects|
+-----------------+------+----------+----------+--------+---+--------------------+
|   {New York, NY}|   100|2025-09-10|         A|   Alice|  1|[{1000, Alpha}, {...|
|{Los Angeles, CA}|   150|2025-09-11|         A|     Bob|  2|     [{2000, Gamma}]|
|    {Chicago, IL}|   200|2025-09-12|         B| Charlie|  3|                  []|
+-----------------+------+----------+----------+--------+---+--------------------+

In [8]:
nestedjson.write.parquet("/home/iceberg/notebooks/data/parquet")

In [9]:
parquetddf =spark.read.parquet("/home/iceberg/notebooks/data/parquetdemo/*.parquet")
parquetddf.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [10]:
parquetddf =spark.read.parquet("/home/iceberg/notebooks/data/parquet/*.parquet")
parquetddf.show()

+-----------------+------+----------+----------+--------+---+--------------------+
|          address|amount|      date|department|employee| id|            projects|
+-----------------+------+----------+----------+--------+---+--------------------+
|   {New York, NY}|   100|2025-09-10|         A|   Alice|  1|[{1000, Alpha}, {...|
|{Los Angeles, CA}|   150|2025-09-11|         A|     Bob|  2|     [{2000, Gamma}]|
|    {Chicago, IL}|   200|2025-09-12|         B| Charlie|  3|                  []|
+-----------------+------+----------+----------+--------+---+--------------------+

In [12]:
orcdf = spark.read.orc("/home/iceberg/notebooks/data/orcdemo/*.orc")
orcdf.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows