In [1]:
import pyspark
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [2]:
rdd1 = sc.textFile("/home/iceberg/notebooks/Data/OfficeData.csv")

In [3]:
rdd1.collect()

['employee_name,department,state,salary,age,bonus',
 'James,Sales,NY,90000,34,10000',
 'Michael,Sales,NY,86000,56,20000',
 'Robert,Sales,CA,81000,30,23000',
 'Maria,Finance,CA,90000,24,23000',
 'Raman,Finance,CA,99000,40,24000',
 'Scott,Finance,NY,83000,36,19000',
 'Jen,Finance,NY,79000,53,15000',
 'Jeff,Marketing,CA,80000,25,18000',
 'Kumar,Marketing,NY,91000,50,21000']

In [5]:
rdd1.count()

10

In [7]:
rdd2 = rdd1.map(lambda x: x.split(","))

In [8]:
rdd2.collect()

[['employee_name', 'department', 'state', 'salary', 'age', 'bonus'],
 ['James', 'Sales', 'NY', '90000', '34', '10000'],
 ['Michael', 'Sales', 'NY', '86000', '56', '20000'],
 ['Robert', 'Sales', 'CA', '81000', '30', '23000'],
 ['Maria', 'Finance', 'CA', '90000', '24', '23000'],
 ['Raman', 'Finance', 'CA', '99000', '40', '24000'],
 ['Scott', 'Finance', 'NY', '83000', '36', '19000'],
 ['Jen', 'Finance', 'NY', '79000', '53', '15000'],
 ['Jeff', 'Marketing', 'CA', '80000', '25', '18000'],
 ['Kumar', 'Marketing', 'NY', '91000', '50', '21000']]

In [9]:
rdd2.count()

10

In [10]:
rdd3 = rdd1.flatMap(lambda x: x.split(","))

In [11]:
rdd3.count()

60

In [12]:
rdd3.collect()

['employee_name',
 'department',
 'state',
 'salary',
 'age',
 'bonus',
 'James',
 'Sales',
 'NY',
 '90000',
 '34',
 '10000',
 'Michael',
 'Sales',
 'NY',
 '86000',
 '56',
 '20000',
 'Robert',
 'Sales',
 'CA',
 '81000',
 '30',
 '23000',
 'Maria',
 'Finance',
 'CA',
 '90000',
 '24',
 '23000',
 'Raman',
 'Finance',
 'CA',
 '99000',
 '40',
 '24000',
 'Scott',
 'Finance',
 'NY',
 '83000',
 '36',
 '19000',
 'Jen',
 'Finance',
 'NY',
 '79000',
 '53',
 '15000',
 'Jeff',
 'Marketing',
 'CA',
 '80000',
 '25',
 '18000',
 'Kumar',
 'Marketing',
 'NY',
 '91000',
 '50',
 '21000']

In [13]:
demo1 = sc.textFile("/home/iceberg/notebooks/Data/StudentData.csv")

In [14]:
demo1.count()

1001

In [15]:
#Word count inside the file

In [ ]:
demo2 = demo1.flatMap(la)